@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  #tiles {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);
  }

  .tile {
    position: relative;
    opacity: .95
  }

  .tile:before {
    /* background-color: rgb(20, 20, 20); */
    background-color: rgb(0, 60, 60);
    content: "";
    position: absolute;
    inset: 0.5px;
  }

  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    to {
      background-position: -200% center;
    }
  }

  .music-card-purple {
    background: linear-gradient(to right, rgb(6, 135, 215, .8), rgb(14, 142, 39, .8), rgb(6, 135, 215, .8));
    background-size: 300%;
    overflow: hidden;
    animation: background-pan 10s linear infinite;
  }


}

:root {
  /* background-color: aliceblue; */
  background: linear-gradient(to right, rgb(6, 135, 215), rgb(14, 142, 39), rgb(6, 135, 215));
  /* background: linear-gradient(to right, rgb(145, 3, 128), rgb(0, 33, 100), rgb(145, 3, 128)); */
  background-size: 200%;
  overflow: hidden;
  animation: background-pan 10s linear infinite;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}